.health-bar {
	height: 4px;
	background-color: green;
	flex: 1 auto;
	margin: 8px;
	border-radius: 3px;
	border: 1px solid black;
}

.bar-display {
	width: 160px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.health-value {
	width: 36px;
	line-height: 16px;
}
.health-value.right {
	text-align: left;
}
.health-value.left {
	text-align: right;
}
