.podium {
	width: 192px;
	height: 192px;
	background-color: #212529;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 4px 4px 0 0;
	border: 1px solid black;
	border-bottom: none;
}
.podium h1 {
	font-size: 14px;
	font-weight: normal;
}
.podium h2 {
	font-size: 10px;
	font-weight: normal;
}
.podium .entity-icon {
	width: 64px;
	height: 64px;
	background-color: white;
	margin: 8px;
	border-radius: 4px;
}
